<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>注册 - Note Now</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="/assets/css/font-awesome.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="/assets/css/ace-fonts.css" />
		<link rel="stylesheet" href="/css/common.css">
		<!-- ace styles -->
		<link rel="stylesheet" href="/assets/css/ace.css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="/assets/css/ace-part2.css" />
		<![endif]-->
		<link rel="stylesheet" href="/assets/css/ace-rtl.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="/assets/css/ace-ie.css" />
		<![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.js"></script>
		<script src="/assets/js/respond.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-book green"></i>
									<span class="red">Note Now</span>
								</h1>
							</div>
							<div class="space-6"></div>
							<div class="position-relative">
								<div id="signup-box" class="signup-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="ace-icon fa fa-users blue"></i>
												新用户注册
											</h4>

											<form method="post">
												<fieldset>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control"
																   name="username" id="USERNAME"
																   placeholder="用户名"
																   onkeyup="value=value.replace(/[^\w]/ig,'') "
																   onblur="check(this)" onfocus="change_hint(this)"
																	/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                                        <span class="my_help_block" id="username_hint">长度3-20个字符，字母、数字、下划线的组合</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
																   name="password" id="PASSWORD" placeholder="密码"
																   onblur="check(this)" onfocus="change_hint(this)" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                                        <span class="my_help_block"  id="pwd_hint">长度不少于6个字符，必须同时包含数字、小写字母、大写字母</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
																   name="passwordRepeat" id="PASSWORDREPEAT" placeholder="确认密码"
																   onblur="check(this)" onfocus="change_hint(this)" />
															<i class="ace-icon fa fa-retweet"></i>
														</span>
                                                       <span class="my_help_block"  id="pwd_repeat_hint"> 请确认与第一次输入的密码一致</span>
													</label>
<!--
													<label class="block">
														<input type="checkbox" class="ace" />
														<span class="lbl">
															I accept the
															<a href="#">User Agreement</a>
														</span>
													</label>
-->
													<div class="space-24"></div>

													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i>
															<span class="bigger-110">重置</span>
														</button>

														<button type="submit" class="width-65 pull-right btn btn-sm btn-success">
															<span class="bigger-110">注册</span>

															<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>

										<div class="toolbar center">
											<a href="/mylogin" class="back-to-login-link">
												<i class="ace-icon fa fa-arrow-left"></i>
												Back to login
											</a>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.signup-box -->
							</div><!-- /.position-relative -->

							<div class="navbar-fixed-top align-right">
								<br />
								&nbsp;
								<a id="btn-login-dark" href="#">Dark</a>
								&nbsp;
								<span class="blue">/</span>
								&nbsp;
								<a id="btn-login-blur" href="#">Blur</a>
								&nbsp;
								<span class="blue">/</span>
								&nbsp;
								<a id="btn-login-light" href="#">Light</a>
								&nbsp; &nbsp; &nbsp;
							</div>
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='/assets/js/jquery.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			//you don't need this, just used for changing background
			jQuery(function($) {
			 $('#btn-login-dark').on('click', function(e) {
				$('body').attr('class', 'login-layout');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-light').on('click', function(e) {
				$('body').attr('class', 'login-layout light-login');
				$('#id-text2').attr('class', 'grey');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-blur').on('click', function(e) {
				$('body').attr('class', 'login-layout blur-login');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'light-blue');
				
				e.preventDefault();
			 });
			 
			});
		</script>
		<script type="text/javascript">
			function change_hint(obj){
				var name = obj.name;
				var temp;
				if(name == "username"){
					temp = document.getElementById("username_hint");
					temp.className = "my_help_block";
					temp.innerHTML = "长度3-20个字符，字母、数字、下划线的组合";
				}else if(name == "password"){
					temp = document.getElementById("pwd_hint");
					temp.className = "my_help_block";
					temp.innerHTML = "长度不少于6个字符，必须同时包含数字、小写字母、大写字母";
				}else if(name == "passwordRepeat"){
					temp = document.getElementById("pwd_repeat_hint");
					temp.className = "my_help_block";
					temp.innerHTML = "请确认与第一次输入的密码一致";
				}
			}
			function check(obj){
				var id = obj.name;
				var text = document.getElementById(id.toString().toUpperCase()).value;
				//判断是否为空
				if(text.replace(/\s/g,"")==""){
					document.getElementById(id+"_hint").innerHTML="输入不能为空";
				}else{
					if(id == "username"){
						checkUsername();
					} else if(id == "password"){
						checkPassword();
					} else if( id == "passwordRepeat"){
						checkPasswordRepeat();
					}
				}
			}
			//检查用户名输入
			function checkUsername() {
				//只简单的判断用户名的长度
				var id = document.getElementById("USERNAME");
				var username=id.value;
				var temp = document.getElementById("username_hint");
				if(username.length < 3 ) {
					temp.className = "my_register_check_hint_error";
					temp.innerHTML = "用户名必须多于3个字符！";
//				alert("用户名必须多于3个字符！");
				}else if(username.length > 20 ){
					temp.className = "my_register_check_hint_error";
					temp.innerHTML = "用户名不得多于20个字符！";
//				alert("用户名不得多于20个字符！");
				}
				else{//继续判断是否重名
					temp.className = "my_help_block";
					temp.innerHTML = "长度3-20个字符，字母、数字、下划线的组合";
					var data = {"username_r":username};
					$.getJSON("checkUsername_register",data,
							function(data) {
								if(data.status) {
									temp.className = "my_register_check_hint_error";
									temp.innerHTML = ""+data.msg;
								} else{
									temp.className = "my_register_check_hint_ok";
									temp.innerHTML = "恭喜，用户名可用";
								}
							});

				}
			}
			function checkPassword()
			{
				var password = document.getElementById("PASSWORD").value;
				var temp = document.getElementById("pwd_hint");
				var r=/^(?=.*[0-9].*)(?=.*[A-Z].*)(?=.*[a-z].*).{6,20}$/;
				if(r.test(password)){
					temp.className = "my_register_check_hint_ok";
					temp.innerHTML = "恭喜，输入正确";
				}
				else{
					temp.className = "my_register_check_hint_error";
					if(password.length < 6){
						temp.innerHTML = "密码长度必须大于6个字符";
					} else{
						temp.innerHTML = "密码必须同时包含数字、小写字母、大写字母";
					}
				}
			}
			function checkPasswordRepeat()
			{
				var password = document.getElementById("PASSWORD").value;
				var passwordRepeat = document.getElementById("PASSWORDREPEAT").value;
				var temp = document.getElementById("pwd_repeat_hint");
				if(password != passwordRepeat)
				{
					temp.className = "my_register_check_hint_error";
					temp.innerHTML = "两次输入的密码不一致，请修改";
				}else{
					temp.className = "my_register_check_hint_ok";
					temp.innerHTML = "恭喜，输入正确";
				}
			}
		</script>
	</body>
</html>
